#!/bin/bash

# {{ template "scripts-library" }}

# The following line is for ShellCheck to correctly identify the above include
true || source ../.chezmoitemplates/scripts-library

echo "kristijan is awesome"

touch ${HOME}/kristijan.txt
