#!/bin/bash

# {{ include (joinPath .chezmoi.sourceDir ".chezmoitemplates/scripts-library") }}

# The following line is for ShellCheck to correctly identify the above included library
true || source ../.chezmoitemplates/scripts-library

export TERM=xterm-256color
sudo wget https://github.com/JanDeDobbeleer/oh-my-posh/releases/latest/download/posh-linux-amd64 -O /usr/local/bin/oh-my-posh
sudo chmod +x /usr/local/bin/oh-my-posh

poshthemes_dir="${HOME}"/.poshthemes
if [[ -d "${poshthemes_dir}" ]]; then
    sudo rm -rf "${poshthemes_dir}"
    sudo mkdir "${poshthemes_dir}"
else
    sudo mkdir "${poshthemes_dir}"
fi

sudo wget https://github.com/JanDeDobbeleer/oh-my-posh/releases/latest/download/themes.zip -O "${poshthemes_dir}"/themes.zip
sudo unzip "${poshthemes_dir}"/themes.zip -d "${poshthemes_dir}"
sudo chmod u+rw "${poshthemes_dir}"/*.omp.*
sudo rm "${poshthemes_dir}"/themes.zip

sudo add-apt-repository universe
sudo apt update
sudo apt install fonts-firacode
